<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/images/logo.jpg" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="active">AGES</a></li>
    <li>
      <a routerLink="/nos-activites" routerLinkActive="active">Activités</a>
    </li>
    <li><a routerLink="/notre-equipe" routerLinkActive="active">Equipe</a></li>
    <li>
      <a routerLink="/contactez-nous" routerLinkActive="active">Contact</a>
    </li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
  </div>
</nav>
